[user]
	name = MANJARO_DOTFILES_GITCONFIG_NAME
	email = MANJARO_DOTFILES_GITCONFIG_EMAIL
	signingkey = MANJARO_DOTFILES_GITCONFIG_SIGNING_KEY
[push]
	default = simple
[alias]
	last = log -1 --stat
	tl = for-each-ref --sort=taggerdate --format '%(refname:short) - %(objectname:short) - %(subject) - %(taggerdate)' refs/tags
[core]
	editor = nano
[pull]
	ff = only
[gpg]
	format = ssh
[commit]
	gpgSign = true
